#install django between certain version number range. only the max minor number (Y) change is allowed x.x.Y, since chages in minor number have only security updates but no changes that might break the functionality of our code
Django>=2.1.3,<2.2.0
djangorestframework>=3.9.0,<3.10.0
flake8>=3.6.0,<3.7.0
